<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesforce.demo.detectbackground">

    <application
        android:name=".DetectBackgroundApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />

        <service
            android:name=".BackgroundJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
</manifest>